page-login {
        .background{
            background-color: maroon;
            width: 100%;
            height: 100%;
           }
           .scroll-content{
               text-align: center
           } 
           ion-card.card{
               background:(gray);
            
           }
           .item{
               background: rgba(232,230,230,0px);
           }
           ion-input{
               border-bottom: rgb(0, 0, 0) solid 1px;
           }
           h1{
               color: (gold);
               font-size: 3em;
               font-family:"Gill Sans", "Gill Sans MT",Calibri, 'Trebuchet MS', sans-serif;
           }
 }
    
